<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <!--Usar el modulo FormModules de Angular-->
        <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
          <!--Se encarga de agregar el id si existe-->
          <input type="hidden" name="id" [(ngModel)]="employeeService.selectedEmployee.id">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter your FullName" name="name" [(ngModel)]="employeeService.selectedEmployee.name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter your Position" name="position" [(ngModel)]="employeeService.selectedEmployee.position">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter your Office" name="office" [(ngModel)]="employeeService.selectedEmployee.office">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" placeholder="Enter your Salary" name="salary" [(ngModel)]="employeeService.selectedEmployee.salary">
          </div>
          <button class="btn btn-primary mr-2" (click)="resetForm(employeeForm);">
            Clean
          </button>
          <button class="btn btn-secondary">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Office</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        <!--La directiva *ngFor asigna a la variable employee lo que llega del servicio employeeService
        que contiene la propiedad employees-->
        <tr *ngFor="let employee of employeeService.employees">
          <!--Las doble llaves se usan para llamar cada propiedad de la variable-->
          <td>{{ employee.name }}</td>
          <td>{{ employee.position }}</td>
          <td>{{ employee.office }}</td>
          <td>
            <button class="btn btn-secondary btn-sm" (click)="editEmployee(employee);">
              <i class="material-icons">edit</i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteEmployee(employee.id);">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
